@charset "UTF-8";


@font-face {
    font-family: fonte titulo ;
    src: url(fonte/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: fonte paragrafo;
    src: url(fonte/CaviarDreams.ttf);
}
/*
#195f11
#103f0b
#082006
#000000
*/

*{
    margin: 0px;
    padding: 0px;
}
body{
   background-color: #217f16;    
}
header{
    background-image: linear-gradient(to top, #082006, #217f16);
    padding: 30px;
}
header h1{
    text-align: center;
    color: white;
}
header p{
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
}
nav{
   padding-top: 20px;
   padding-left: 5px;
}
nav a{
    text-decoration: none;
    color: white;
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
} 
main h2{
    text-align: center;
    color: #195f11;
}
main p{
    
}


    
