@charset "UTF-8";


@font-face {
    font-family: fonte titulo ;
    src: url(fonte/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: fonte paragrafo;
    src: url(fonte/CaviarDreams.ttf);
}
/*
#217f16
#195f11
#103f0b
#082006
#000000
*/

*{
    margin: 0px;
    padding: 0px;
}
body{
   background-color: white;     
}
header{
    background-image: linear-gradient(to top, #195f11, #217f16);
    padding: 30px;
}
header h1{
    text-align: center;
    color: black;
}
header p{

    
}
nav{
   
}
nav a{
    text-decoration: none;
    color: white;
    width: 0px 0px 0px 0px;
    padding: 0px 25px 0px 5px;
    margin: 0px 0px 0px 0px;
}
main{
    min-width: 300px;
    max-width: 1000px;
} 
main h2{

<<<<<<< HEAD
#h1primeiro{
    background-color: white;
}
#pprimeiro{
    background-color: orange;
}
    
=======
}
>>>>>>> 9162ebfad79a7f179549263eb6ce2e782dcbebdd
